body.courseware .window-wrap .content-wrapper {
  @media only screen and (max-width: 1080px) {
    .container {
      margin-top: 12px;
      padding: 0;
      width: 100%;

      .course-wrapper {
        padding: 0;

        .course-index {
          @include size(100%, 100%);

          border-bottom: 2px solid $color-border;

          .navbar-header {
            display: block;
            background-color: $color-accordion-nav-main;

            .navbar-toggle {
              .icon-bar {
                background-color: $color-accordion-nav-hamburger;
              }

              &.collapsed {
                background: $color-accordion-nav-hamburger none;

                .icon-bar {
                  background-color: $color-nav-hamburger-active;
                }
              }
            }
          }

          .accordion.collapse.in {
            display: block;

            .course-navigation .chapter {
              display: block;

              .button-chapter {
                background-color: $color-accordion-nav-normal !important;

                .group-heading {
                  color: $white;
                }
              }

              .chapter-content-container .chapter-menu .menu-item {
                &.active a {
                  border-color: $color-accordion-nav-main;
                  background-color: $color-accordion-nav-main;

                  &:hover {
                    background-color: $color-accordion-nav-main;
                  }
                }

                a p {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
