> section#dashboard-main {
  margin-top: 0;
  padding: 0;

  .dashboard-content-wrapper {
    border: none;
    padding: 0;

    .dashboard-content {
      float: left;
      padding: 0 20px 0 0;

      section#student-details {
        float: left;
        padding-top: 35px;
        padding-left: 20px;
        width: 100%;

        section#students-map {
          display: none;
        }

        section#my-courses {
          margin: 0;
          width: 100%;
          overflow: hidden;

          header h2 {
            margin: 0 0 30px 0;
            color: $mortar;
            font-size: 25px;
          }

          section.empty-dashboard-message {
            margin: 0;
            padding: 0;
            text-align: left;

            > p {
              margin-top: 5px;
              margin-bottom: 5px;
              color: inherit;
              font: inherit;

              > a {
                margin-left: 0;
                border: none;
                box-shadow: none;
                background-color: transparent;
                padding: 5px 0;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          .listing-courses {
            margin-bottom: 15px;

            footer.wrapper-messages-primary {
              display: none;
            }

            .course-item {
              transition: all .1s ease-in;
              margin: 0 2px 30px;
              border: 1px solid $color-border;
              border-bottom: none;
              border-radius: $default-border-radius;
              padding: 0;
              -webkit-box-shadow: 0 0 1px 2px rgba(224, 224, 224, 1);
              -moz-box-shadow: 0 0 1px 2px rgba(224, 224, 224, 1);
              box-shadow: 0 0 1px 2px rgba(224, 224, 224, 1);

              &:hover {
                outline: none;
                border-color: $mortar;
              }

              &:last-child {
                margin: 0;
              }

              .course .details {
                .dashboard-course-image {
                  float: left;

                  @media (max-width: $screen-md-min) {
                    display: none;
                  }

                  .cover {
                    float: left;
                    transition: none;

                    img {
                      @include size(230px, 230px);
                    }
                  }
                }

                .dashboard-course-info {
                  height: 230px;
                  overflow: auto;

                  @media (max-width: $screen-md-min) {
                    height: 200px;
                  }

                  .wrapper-course-details {
                    @include size(100%, 100%);

                    position: relative;

                    .course-title {
                      margin-top: 20px;
                      margin-left: 15px;

                      a, span {
                        text-transform: uppercase;
                        line-height: 1.1;
                        color: $ink;
                        font-family: $avenir-book;
                        font-size: 25px;
                      }
                    }

                    .info-actions-wrapper {
                      position: absolute;
                      bottom: 0;
                      padding: 15px;
                      width: 100%;

                      .course-info {
                        margin: 0;

                        .info-date-block {
                          width: 80px;
                          color: $ink;
                          font-size: 17px;
                        }
                      }

                      .wrapper-course-actions .course-actions {
                        .enter-course {
                          -webkit-box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          border: none;
                          background-color: $crimson;
                          padding: 12px 22px;
                          text-align: center;
                          text-shadow: 0 1px 0 #003954;
                          color: $white;
                          font: normal 15px/1.1em $avenir-book;
                        }

                        .wrapper-action-more {
                          display: none;
                        }

                      }
                    }
                  }
                }
              }

              .info {
                @include size(100%, auto);

                margin: 0;
                padding: 0;

                @media (min-width: $screen-md-min) {
                  @include size(auto, auto);

                  padding: 0 0 0 1em;
                  overflow: hidden;
                }

                hgroup {
                  margin: 0;

                  @media (min-width: $screen-md-min) {
                    margin: 0 0 38px 0;
                  }

                  h3 {
                    margin-top: 0;

                    a, span {
                      font: inherit;
                    }
                  }

                  .university {
                    margin: 0;
                    color: inherit;
                    font: inherit;
                  }

                  .date-block {
                    position: static;
                    color: inherit;
                    font: inherit;
                    font-size: 0.9em;

                    @media (min-width: $screen-md-min) {
                      position: absolute;
                      top: 0;
                      right: 0;
                    }
                  }
                }

                .unenroll, .email-settings {
                  margin-top: 15px;
                  color: inherit;
                  font: inherit;
                  font-size: 0.8em;
                  text-decoration: underline;

                  @media (min-width: $screen-md-min) {
                    display: inline;
                    float: right;
                    vertical-align: bottom;
                    margin: 1.2em 0 0 0.5em;
                  }
                }

                h4 {
                  margin: 0 1em 0.5em 0;
                }

                hr {
                  display: none;
                }

                p {
                  font-size: 0.9em;
                  margin: 0 0 1em 0;
                }
              }

              &.ionisxed {
                .info {
                  @media (min-width: $screen-md-min) {
                    padding: 0 0 2em 1em;
                  }

                  hgroup {
                    margin: 0;
                  }

                  .unregister {
                    position: absolute;
                    float: none;
                    top: -19px;
                    right: -10px;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    line-height: inherit;
                    font: inherit;

                    @media (max-width: $screen-sm-max) {
                      top: -29px;
                    }

                    &:before {
                      color: $color-error;
                      font-family: 'FontAwesome', sans-serif;
                      font-size: 1.2em;
                      content: '\f00d';
                    }
                  }

                  .enter-course {
                    @media (min-width: $screen-md-min) {
                      position: absolute;
                      bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .announcements-dashboard {
      float: left;

      .announcements-dashboard-wrapper {
        margin-top: 45px;
        padding: 20px;

        @media (max-width: 767px) {
          margin-top: 0;
        }

        .announcements-title {
          display: none;
        }

        .announcement-box {
          margin-bottom: 15px;
          padding: 22px 33px;
          background-color: #f3f3f1;
          text-align: center;

          a {
            color: $crimson;
            font-weight: $headings-font-weight;
          }
        }
      }
    }
  }
}

section.dashboard-banner {
  .wrapper-msg {
    &.urgency-high {
      clear: both;
      margin: 0 auto;
      background: $m-teal none repeat scroll 0 0;

      @media (min-width: 992px) {
        width: 970px;
      }

      @media (min-width: 1200px) {
        width: 1170px;
      }
    }

    .msg {
      border-bottom: none;
      min-width: 0;

      @media (max-width: $screen-md-min) {
        width: 100%;
      }

      .msg-content {
        .title {
          font-family: $avenir-book;
          font-size: 22px;
        }

        .copy {
          p {
            font-family: $avenir-book;
            font-size: $font-size-base;
          }
        }
      }
    }
  }
}
