body,
.view-login,
.view-register,
.view-passwordreset {
  .content-wrapper {
    @include size(auto, auto);

    margin: 0;
    padding: 0 0 $layout-spacing 0;
    background: none;

    @media (min-width: $screen-xs-max) {
      margin-top: -$layout-header-height - $layout-footer-height;
      padding-top: $layout-header-height + $layout-footer-height;
      min-height: 97vh;
    }
  }
}

body.activation-page {
  #global-navigation {
    ol.right.nav-courseware {
      display: none;
    }
  }
}

.content-wrapper {
  background: $white;

  .progress.wrapper-course-material {
    display: block;
    border-radius: 0;
    box-shadow: none;
    background-color: $white;

    @media only screen and (max-width: 1080px) {
      background-color: $color-nav-main;
    }

    .course-tabs li a {
      line-height: $line-height-base;
    }
  }

  .container {
    margin-top: 12px;

    .profile-wrapper {
      padding: 30px;

      @media only screen and (max-width: 1080px) {
        padding: 10px;
      }

      .course-info >.chapters >section h2 {
        font-weight: $headings-font-weight;
      }
    }
  }

  > .introduction {
    @include hms-container;

    margin-top: $layout-spacing;
    background: none;

    header {
      @include size(auto, auto);

      background: none;
      border: 0 none;

      h1.title {
        position: static;
        margin: 0;
        padding: 0;
        color: inherit;
        font: inherit;

        .title-super {
          display: block;
          text-transform: none;
          color: $color-primary;
          font: inherit;
          font-size: $font-size-h1;
        }

        .title-sub {
          display: block;
          margin: 0;
          text-transform: none;
          color: inherit;
          font: inherit;
          font-weight: 300;
        }
      }
    }
  }

  @import 'course/main';

  @import 'static';
  @import 'error';

  @import 'homepage';
  @import 'courses';
  @import 'dashboard';
  @import 'discussion';

  @import 'activation';
}
