// override lms/static/sass/views/_login-register.scss

.login-register-body header.global > nav h2 {
  display: none;
}

.content-wrapper {
  padding-bottom: 0 !important;

  .section-bkg-wrapper {
    min-height: 75vh;
  }
}

.login-register {
  .section-title {
    h2 {
      font-weight: $headings-font-weight;
    }
  }

  %nav-btn-base {
    @extend %btn-secondary-teal-outline;
  }

  .form-field {
    .field-link {
      color: $m-teal;
    }

    .tip {
      color: $m-gray-l1;
    }
  }

  .action-primary {
    @extend %btn-primary-teal;
  }
}
