// override lms/static/sass/elements/_system-feedback.scss

.wrapper-msg {
  .msg {
    min-width: 0;
  }
  .msg-content {
    .title {
      font-family: $avenir-book;
      font-size: 22px;
    }

    .copy {
      p {
        font-family: $avenir-book;
        font-size: $font-size-base;
      }
    }
  }

  &.urgency-high {
    clear: both;
    margin: 0 auto;
    background: $m-teal none repeat scroll 0 0;

    @media (min-width: 768px) {
      width: 750px;
    }

    @media (min-width: 992px) {
      width: 970px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
}
