.discussion-body {
  // @include make-row();

  // padding: 0;
  background-color: $white;

  .forum-nav {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(4);
    @include make-lg-column(4);

    border: 0 none;
    border-radius: 0;
    border-right: 1px solid $color-border;
    box-shadow: none;
    padding: 0;
    background: none;

    @media (max-width: $screen-sm-max) {
      border-right: 0 none;
      height: auto !important;
    }

    a:hover {
      text-decoration: none;
    }

    .forum-nav-header {
      background: $color-border none;
    }

    .forum-nav-search-input {
      font-size: 0.8em;
    }

    .forum-nav-thread-list {
      @media (max-width: $screen-sm-max) {
        height: auto !important;
      }
    }
  }

  .discussion-column {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(8);
    @include make-lg-column(8);

    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    background: none;

    .discussion-article {
      background: none;

      // Discussion home page
      &.blank-slate {
        padding: 15px;

        .home-header {
          border: 0 none;
        }

        .label {
          display: inline;
          padding: 0;
          color: inherit;
          font: inherit;
        }

        h1 {
          margin: 1em 0 0 0;
          color: inherit;
          font: inherit;
          font-weight: $headings-font-weight;
        }
      }
    }
  }

  .thread-wrapper {
    .forum-thread-main-wrapper {
      box-shadow: none;
    }

    // OP
    .discussion-post {
      border-bottom: 1px solid $color-border;
      border-radius: 0;
      background: none;
      padding: 15px 15px 5px 15px;

      header {
        border-bottom: 1px solid $color-border;

        .group-visibility-label {
          font: inherit;
          font-size: 12px;
        }

        h1 {
          color: $color-primary;
          font-size: $font-size-h2;
          font-weight: $headings-font-weight;
        }

        .posted-details {
          color: lighten($black, 0.5);
          font-size: $small-font-size;
          font-weight: $font-weight-normal;

          .username {
            font-weight: $headings-font-weight;
          }
        }

        .user-label-staff {
          background: $color-secondary none;
          color: $white;
        }
      }

      .post-context {
        padding-top: 1em;
        color: lighten($black, 0.5);
        font-size: 12px;
      }
    }

    // Answers
    .post-extended-content {
      .response-count {
        color: lighten($black, 0.5);
        font-size: $small-font-size;
        font-weight: $font-weight-normal;
        margin: 10px 15px 0 15px;
        padding: 0;
      }

      .add-response {
        margin: 10px 15px 0 15px;
        padding: 0;

        .add-response-btn {
          @include hms-btn($white, $color-primary);

          font-size: $small-font-size;
          font-weight: $font-weight-normal;
        }
      }

      .responses {
        margin: 15px 15px 0 15px;
        padding: 0;
      }

      // Answer
      .forum-response {
        margin: 0 0 15px 0;
        border: 1px solid $color-background;
        border-radius: $default-border-radius;
        box-shadow: none;
        background-color: $color-background;
        padding: 0;

        .discussion-response {
          background: none;
          padding: 10px 15px;

          header {
            border-bottom: 1px solid $color-border;
            padding-bottom: 10px;

            .username {
              font-size: inherit;
              font-weight: $headings-font-weight;
            }

            .posted-details {
              color: lighten($black, 0.5);
              font-size: 12px;
            }
          }
        }
      }

      .response-pagination {
        box-shadow: none;
        background-color: $color-background;
        padding: 15px;

        .response-display-count {
          padding: 0;
          color: lighten($black, 0.5);
        }
      }

      .discussion-reply-new {
        padding: 15px 15px 0 15px;

        h4 {
          font-weight: $headings-font-weight;
        }
      }

      // Comments
      .comments {
        border-radius: 0;
        box-shadow: none;
        background: $white none;

        > li {
          border: 0 none;
          border-bottom : 1px solid $color-background;
          border-left: 3px solid $color-border;
          padding: 10px 15px 5px 15px;
          font-size: 0.8em;

          &.new-comment {
            border: 0 none;
            padding: 15px 15px 0 15px;
            font-size: inherit;

            .comment-form {
              padding: 0;
            }
          }

          .posted-details {
            margin: 0;
            color: lighten($black, 0.5);
            font-size: 11px;

            .username {
              font-weight: $headings-font-weight;
            }
          }
        }
      }
    }

    .wmd-panel {
      @include size(auto, auto);

      margin-bottom: 15px;
      min-width: 0;

      textarea {
        @include hms-input;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: inherit;
        font-size: 0.9em;
      }

      .wmd-preview-container {
        @include size(auto, auto);

        border: 0 none;
        box-shadow: none;
      }
    }

    .control-button {
      @include hms-btn($white, $color-success);

      margin-bottom: 15px;
      font-size: 0.9em;
    }

    .wmd-preview-container,
    .post-body, .response-body {
      h1, h2, h3, p {
        margin: 0 0 1em;
        letter-spacing: inherit;
        color: inherit;
        font: inherit;
      }

      blockquote {
        border-radius: 0;
        background: none;
        padding: 5px 15px;
        font-size: inherit;

        p:last-child {
          margin: 0;
        }
      }
    }
  }
}
