@media only screen and (max-width: 1080px) {
  .navbar-header {
    .navbar-brand {
      display: block;
      padding: 12px 15px;
      overflow: hidden;
      color: $white;
      text-align: center;
      text-overflow: ellipsis;
      line-height: $line-height-computed;
      white-space: nowrap;
    }

    .navbar-toggle {
      display: block;
      position: relative;
      float: right;
      margin-top: 8px;
      margin-right: 15px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      background: $color-nav-hamburger-active none;
      padding: 9px 10px;

      &:focus {
        outline: none;
      }

      .icon-bar {
        display: block;
        border-radius: 1px;
        background-color: $color-nav-hamburger;
        width: 22px;
        height: 2px;
      }

      .icon-bar + .icon-bar {
        margin-top: 4px;
      }

      &.collapsed {
        background: $color-nav-hamburger none;

        .icon-bar {
          background-color: $color-nav-hamburger-line;
        }
      }
    }
  }
}

@import 'about';
@import 'book';
@import 'navigation';

.capa_inputtype.textline,
.formulaequationinput {
  input {
    margin-left: 39px;
  }
  .status {
    position: relative;
    right: -15px;
    bottom: 5px;
  }
}

.xmodule_display.xmodule_CapaModule div.problem div.incorrect p.status {
  background: rgba(0, 0, 0, 0) url("/static/images/incorrect-icon.png") no-repeat scroll center center;
}

.xmodule_display.xmodule_CapaModule div.problem div.correct p.status {
  background: rgba(0, 0, 0, 0) url("/static/images/correct-icon.png") no-repeat scroll center center;
}

.course-material {
  @include hms-container;

  margin-top: 10px;
  border-radius: 0;
  box-shadow: none;
  background: none;

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  .inner-wrapper {
    @include size(auto, auto);

    margin: 0;
    max-width: none;

    .course-tabs {
      margin: 0;
      padding: 0;
      border-radius: 0;

      li {
        margin: 0 0.5em 0 0;

        &:last-child {
          margin: 0;

          @media (max-width: $screen-xs-max) {
            &.right {
              @include clearfix;
              @include size(auto, auto);

              float: none;

              a {
                @include size(auto, 100%);

                margin-top: 10px;
              }
            }
          }
        }

        a {
          border-radius: $default-border-radius;
          padding: 8px 12px;
          color: inherit;
          font-family: $avenir-book !important;
          font-size: 0.9em;
          font-weight: normal;

          &:hover {
            background-color: $white;
          }

          &.active {
            box-shadow: none;
            background: $color-primary none;
            text-shadow: none;
            color: $white;
          }

          &.new-post-btn {
            @include hms-btn($white, $color-secondary);

            font-size: 0.9em;

            span.icon {
              @include size(auto, auto);

              display: inline;
              float: none;
              margin: 0;
              padding: 0 0.5em 0 0;
              color: inherit;
              font: inherit;
              font-family: 'FontAwesome', sans-serif;
            }
          }
        }
      }
    }
  }
}

.container {
  @include hms-container;

  margin-top: $layout-spacing / 2;
  margin-bottom: 0;

  > div {
    @include size(auto, auto);
    @include clearfix;

    display: block;
    padding: 30px;
    border: 1px solid $color-border;
    border-radius: $default-border-radius;
    box-shadow: none;
    background: $white none;
    overflow: hidden;

    .wrap-instructor-info {
      margin: 0;

      &.studio-view {
        top: 0;
      }
    }

    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }
  }

  @import 'courseware';
  @import 'pages';
  @import 'info';
  @import 'wiki';
  @import 'progression';
  @import 'instructor';
}
