body {
  -webkit-font-smoothing: inherit;
  background: none;
  min-width: 0;
  min-height: 0;
  color: $black;
  line-height: $line-height-base;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

h1, h2, h3 {
  margin-top: 26px;
  margin-bottom: 13px;
}

h1 {
  -webkit-font-smoothing: inherit;
  color: inherit;
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

h2 {
  -webkit-font-smoothing: inherit;
  text-transform: none;
  line-height: 1.3em;
  color: $color-primary;
  font-family: $font-family-sans-serif;
}

h3 {
  -webkit-font-smoothing: inherit;
  line-height: 1.3em;
  color: inherit;
  font-family: $font-family-sans-serif;
  font-size: $font-size-h3;
  font-weight: $headings-font-weight;
}

h4 {
  -webkit-font-smoothing: inherit;
  color: $color-primary;
  font-family: $font-family-sans-serif;
  font-size: $font-size-h4;
  font-weight: 500;
}

p {
  margin: 0 0 1em 0;
  color: inherit;
  font: inherit;
  font-family: $font-family-sans-serif;

  &.justified {
    @media (min-width: $screen-md-min) {
      @extend .text-justify;
    }
  }
}

blockquote {
  border-color: $color-border;
  color: inherit;
  font: inherit;
}

ul, ol {
  padding-left: 0;
  list-style-position: inside;
  color: inherit;
  font: inherit;
}

a, a:link, a:visited,
p a, p a:link, p a:visited {
  outline: none;
  color: $color-primary;
  font: inherit;

  &:hover, &:focus, &:active {
    outline: none;
    border: none;
    color: $color-primary;
  }
}

label {
  color: inherit;
  font: inherit;
}

b, strong {
  font-weight: $headings-font-weight;
}

span {
  color: inherit;
  font: inherit;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    @include hms-input;
}

::-webkit-input-placeholder {
  color: $color-disabled;
  font: inherit;
}

:-moz-placeholder {
  color: $color-disabled;
  font: inherit;
}

::-moz-placeholder {
  color: $color-disabled;
  font: inherit;
}

:-ms-input-placeholder {
  color: $color-disabled;
  font: inherit;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
